
<div id="top_area">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/createJob"><span>Create Job</span></a></li>
                    <li><a href="/manageJobs"><span>Manage Profiles</span></a></li>
                    <li><a ng-href="/">Codes</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row" style="width:100%">
        <div class="col-md-2">
            <label>Name</label>
        </div>
        <div class="col-md-3">
            <label>Email</label>
        </div>
        <div class="col-md-2">
            <label>Positions</label>
        </div>
        <div class="col-md-2">
            <label>Education</label>
        </div>
    </div>
	<div class="row" style="width:100%;height:100px;border:1px solid" ng-repeat="p in allProfs">
        <div class="col-md-2"style="height:100%;border-right:1px solid">
            <b>{{p.first_name}} {{p.last_name}}</b>
        </div>
        <div class="col-md-3"style="height:100%;border-right:1px solid">
            {{p.email}}
        </div>
        <div class="col-md-2" style="height:100%;border-right:1px solid">
            <div class="row">
                {{p.position}}
            </div>
            <div class="row">
                {{p.secondary.position1}}
            </div>
            <div class="row">
                {{p.secondary.position2}}
            </div>
            <div class="row">
                {{p.secondary.position3}}
            </div>
        </div>
        <div class="col-md-2"style="height:100%;border-right:1px solid">
            {{p.education}}
        </div>
	</div>
</div>